
# --------------------------------------------------------------------
# Cuda 12.4
# --------------------------------------------------------------------

--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision

# pip requirements for FacePokeLocal (conda-managed packages are excluded)
async-lru==2.0.4
gradio==5.6.0
pyyaml==6.0.1
imageio==2.31.1
imageio-ffmpeg==0.5.1
tqdm==4.66.4
rich==13.7.1
ffmpeg-python==0.2.0
onnxruntime-gpu==1.19.2
onnx==1.16.1
albumentations==1.3.1
tyro==0.8.5
imutils==0.5.4
diffusers==0.30.3
accelerate==0.34.2
tensorflow==2.12.0
tensorboard==2.12.0
transformers==4.39.2
gdown==5.2.0
requests==2.32.3
omegaconf==2.3.0
pydantic==2.9.2
aiohttp==3.10.5
av==12.3.0
einops==0.7.0
safetensors==0.4.5
huggingface-hub==0.25.1
optimum-quanto==0.2.4
pillow-avif-plugin==1.4.6
torchgeometry
# https://github.com/onnx/onnx/issues/6267
